// Place all the styles related to the Packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h5{
    font-style: italic;
    color: slategrey;
    text-align: center;
}
h6{
    font-style: italic;
}
#package_carrier{
    display: inline-block;
}

.card-text{
    font-weight: lighter;
    font-size: small;
    text-align: center;
    font-style: italic;
}

.name{
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.btn-group{
    margin-left: auto;
    margin-right: auto;
}

#notice{
    font-weight: bolder;
    font-size: 90px;
    text-align: center;
    margin-top: 25%;
    -webkit-text-stroke: 5px white;
}

#icon{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

#package-status{
    text-align: center;
}